[Unit]
Description=Docker No volumes authZ Plugin
Documentation=man:docker-novolume-plugin(8)
Before=docker.service
After=network.target docker-novolume-plugin.socket
Requires=docker-novolume-plugin.socket 

[Service]
ExecStart=/usr/libexec/docker/docker-novolume-plugin

[Install]
WantedBy=multi-user.target
